
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/nav.ejs') %>

    <main class="main">

    <%- include('../partials/sidebar.ejs') %>

    <div class="contents">
        <h2 class="mb-5">Add Place</h2>
        <form action="/places" method="POST">
            <div class="mb-3">
            <label for="name_en">English name:</label>
            <input type="text" id="name_en" name="name_en" placeholder="English name" required><br>
            <label for="name_ar">Arabic name:</label>
            <input type="text" id="name_ar" name="name_ar" placeholder="Arabic name" required><br>
            </div>
            <div class="mb-3">
            <label for="city">Select a City:</label>
            <select name="city" id="city">
                 <% if(cities.length > 0) { %>
                    <% cities.forEach(city => { %>
                        <option value="<%= city.city_name %>"><%= city.city_name %></option>
                  <% } )} %>   
            </select><br>
            </div>
            <div class="mb-3">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" placeholder="Phone number" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email"><br>
            <label for="website">Website:</label>
            <input type="text" id="website" name="website" placeholder="Website"><br>
            <label for="snapchat">Snapchat:</label>
            <input type="text" id="snapchat" name="snapchat" placeholder="Snapchat"><br>
            <label for="twitter">Twitter:</label>
            <input type="text" id="twitter" name="twitter" placeholder="Twitter"><br>
            <label for="instgram">Instgram:</label>
            <input type="text" id="instgram" name="instgram" placeholder="Instgram"><br>
            <label for="location">Google map location:</label>
            <input type="text" id="location" name="location" placeholder="Location"><br>
            <label for="logo">Logo</label>
            <input type="file" id="logo" name="logo"><br>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </div>
        </form>
    </div>
    </main>
    
    <%- include('../partials/footer.ejs') %>
