
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/nav.ejs') %>
    <div class="details content">
    <img class="place-logo-details" src="/<%= place.logo %>">
    <h1><%= place.name_en %></h1>
    <h1><%= place.name_ar %></h1>
    <div class="content">
    <h3 class="city"> City: <%= place.city %> </h3>
    <h3 class="phone"> Phone: <%= place.phone %> </h3>
    <% if (place.email !== "") { %>
        <h3 class="email"> Email: <%= place.email %> </h3>
    <% } %>
    <% if (place.website !== "") { %>
        <h3 class="website"> Website: <a href="<%= place.website %>"><%= place.website %></a> </h3>
    <% } %>
    <% if (place.snapchat !== "") { %>
        <h3 class="snapchat"> Snapchat: <a href="<%= place.snapchat %>"><%= place.snapchat %></a> </h3>
    <% } %>
    <% if (place.instgram !== "") { %>
        <h3 class="instgram"> Instgram: <a href="<%= place.instgram %>"><%= place.instgram %></a> </h3>
    <% } %>
    <% if (place.twitter !== "") { %>
        <h3 class="twitter"> twitter: <a href="<%= place.twitter %>"><%= place.twitter %></a> </h3>
    <% } %>
    <% if (place.location !== "") { %>
        <h3 class="location"> Google map location: <a href="<%= place.location %>"><%= place.location %>"</a> </h3>
    <% } %>
    <br><br><br><br>
    </div>
    <% if (user.isAdmin) { %>
    <a class="delete" data-doc="<%= place._id %>">
        <img src="/trashcan.svg" alt="Delete icon">
    </a>
    <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        const deleteicon = document.querySelector('a.delete');
        deleteicon.addEventListener('click',(e) => {
            const endpoint = `/places/${deleteicon.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response)=> response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => cosole.log(err));
        })
    </script>

