
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/nav.ejs') %>

    <main class="main">
    <%- include('../partials/sidebar.ejs') %>

    <section class="contents">
        <div class="container">
            <div style="display: flex; justify-content: space-between;">
                <h1 class="display-5 mb-3"><%= place.name_en %></h1>
                <% if (user.isAdmin) { %>
                    <a class="delete" data-doc="<%= place._id %>">
                        <i class='bx bxs-trash-alt bx-md bx-tada-hover'></i>
                    </a>
                    <% } %>
              </div>
    <h1 class="display-5 mb-5"><%= place.name_ar %></h1>
    <img class="place-logo-details" src="/<%= place.logo %>">
    <div class="info">
    <h3 class="fs-4 mb-5 mt-5 fw-medium city"> City: <%= place.city %> </h3>
    <h3 class="fs-6 fw-light phone"> Phone: <%= place.phone %> </h3>
    <% if (place.email !== "") { %>
    <h3 class="fs-6 fw-light email"> Email: <%= place.email %> </h3>
    <% } %>
    <% if (place.website !== "") { %>
      <h3 class="fs-6 fw-light website"> Website: <a href="<%= place.website %>"><%= place.website %></a> </h3>
    <% } %>
    <% if (place.snapchat !== "") { %>
     <h3 class="fs-6 fw-light snapchat"> Snapchat: <a href="<%= place.snapchat %>"><%= place.snapchat %></a> </h3>
    <% } %>
    <% if (place.instgram !== "") { %>
        <h3 class="fs-6 fw-light instgram"> Instgram: <a href="<%= place.instgram %>"><%= place.instgram %></a> </h3>
    <% } %>
    <% if (place.twitter !== "") { %>
        <h3 class="fs-6 fw-light twitter"> Twitter: <a href="<%= place.twitter %>"><%= place.twitter %></a> </h3>
    <% } %>
    <% if (place.location !== "") { %>
    <h3 class="fs-6 fw-light location"> Google map location: <a href="<%= place.location %>"><%= place.location %>"</a> </h3>
    <% } %>
    </div>
   
            </div>
    </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script>
        const deleteicon = document.querySelector('a.delete');
        deleteicon.addEventListener('click',(e) => {
            const endpoint = `/places/${deleteicon.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response)=> response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => cosole.log(err));
        })
    </script>
    

