<%- include('../partials/header.ejs') %>

<%- include('../partials/nav.ejs') %>

<main class="main">
<%- include('../partials/sidebar.ejs') %>

<section class="contents">
  <div class="container">
    <div style="display: flex; justify-content: space-between;">
      <h1 class="display-5 mb-3"><%= recipe.recipe_name %></h1>
      <% if (user.isAdmin) { %>
        <a class="delete" data-doc="<%= recipe._id %>">
          <i class='bx bxs-trash-alt bx-md bx-tada-hover'></i>
        </a>
        <% } %>
    </div>
  <!-- <div class="container">
      <div style="display: flex; justify-content: space-between;">
          <h1 class="display-5 mb-3"><%= recipe.recipe_name %></h1>
          <% if (user.isAdmin) { %>
              <a href="/recipes/update/<%= recipe._id %>"><button class="submit-btn">Update</button></a>
                
              <a class="delete" data-doc="<%= recipe._id %>">
                <button class="submit-btn">Delete</button>
              </a>
              <% } %>
        </div> -->

    <img class="recipe-img-details" src="/<%= recipe.picture %>">
        <h2 class="fs-4 mb-5 mt-5 fw-medium">Ingredients</h2>
      <p><%= recipe.ingredients %></p>
      <h2 class="fs-4 mb-5 mt-5 fw-medium">Directions</h2>
      <p><%= recipe.directions %></p>
    </div>
    
  </section>

</main>
<%- include('../partials/footer.ejs') %>
  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/recipes/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  </script>