
<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<main class="main">
<%- include('../partials/sidebar.ejs') %>

<section class="contents">
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
            <h1 class="display-5 mb-3"><%= onlineshop.shop_name %></h1>
            <% if (user.isAdmin) { %>
                <a class="delete" data-doc="<%= onlineshop._id %>">
                    <i class='bx bxs-trash-alt bx-md bx-tada-hover'></i>
                </a>
                <% } %>
          </div>

<img class="place-logo-details" src="/<%= onlineshop.logo %>">
<div class="info">
  <h3 class="fs-6 fw-light website"> Website: <a href="<%= onlineshop.website %>"><%= onlineshop.website %></a> </h3>
 </div> 


</section>
</main>
<%- include('../partials/footer.ejs') %>
  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/recipes/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
